html,
body {
  font-family: sans-serif;
  background: #f2eee6;
}
a {
  text-decoration: none;
  color: black;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
}
p {
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  margin-left: 30px;
}
.card {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #efefef;
}

#search-form {
  margin-right: 20px;
  background: #fce7bd;
}
.current-button {
  margin-left: -40px;
}
.second-row {
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}
.details-row {
  margin-top: -40px;
  margin-bottom: 30px;
  margin-left: 68px;
  padding-bottom: 40px;
  font-family: "Orbitron", sans-serif;
}
.forecast-row {
  background: #e6e8e3;
}
#main-icon {
  margin-left: 10px;
  margin-top: -23px;
}
#main-temp {
  font-size: 50px;
  font-weight: 300;
  color: black;
  margin-top: 15px;
  padding-top: 0px;
  margin-left: 20px;
}
#units {
  position: relative;
  top: -28px;
}

.info-city {
  line-height: 145%;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 17px;
  margin-left: 10px;
}

#city {
  font-size: 37px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  color: #d8bb7f;
  letter-spacing: 2px;
  line-height: 110%;
  padding-bottom: 10px;
  padding-right: 10px;
}
#number-day {
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
  margin-left: 10px;
}
#month {
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
  margin-left: 2px;
}
.time-now {
  color: gray;
  font-weight: 600;
}
.description {
  margin-left: 130px;
  font-size: 16px;
  font-weight: 600;
  color: #9c9e9d;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.info-details {
  line-height: 110%;
  margin-top: 30px;
  margin-left: -60px;
  margin-right: 10px;
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
}
.humidity {
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
}
.wind {
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
  margin-left: 40px;
}
#humidity {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
}
#wind {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
}