html,
body {
  font-family: sans-serif;
  background: #f2eee6;
}
a {
  text-decoration: none;
  color: gray;
  font-size: 17px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
  font-weight: 700;
}

p {
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
  margin-left: 50px;
  margin-top: 0px;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 4px solid #b5b3ab;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #dbd7d2;
}

#search-city {
  background: #fce7bd;
  border: 4px solid #b5b3ab;
}
#search-button {
  margin-left: 0px;
  border: 4px solid;
}
#current-button {
  margin-left: 0px;
  border: 4px solid;
}
.second-row {
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}
.details-row {
  margin-top: -40px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 20px;
  display: inline;
  padding-bottom: 40px;
  font-family: "Orbitron", sans-serif;
}
#main-icon {
  margin-left: 10px;
  margin-top: -23px;
}
#main-temp {
  font-size: 50px;
  font-weight: 300;
  color: black;
  margin-top: 15px;
  padding-top: 0px;
  margin-left: 20px;
}
#units {
  position: relative;
  top: -28px;
}

.info-city {
  line-height: 145%;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 17px;
  margin-left: 60px;
}

#city {
  font-size: 37px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  color: #d39f37;
  letter-spacing: 2px;
  line-height: 110%;
  padding-bottom: 10px;
  padding-right: 10px;
}
#number-day {
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
  margin-left: 10px;
}
#month {
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
  margin-left: 2px;
}
.time-now {
  color: gray;
  font-weight: 600;
}
.description {
  margin-left: 130px;
  font-size: 16px;
  font-weight: 600;
  color: #9c9e9d;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.info-details {
  line-height: 110%;
  margin-top: 30px;
  margin-left: -60px;
  margin-right: 10px;
  font-size: 17px;
  font-family: "Orbitron", sans-serif;
}
.humidity {
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
}
.wind {
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
  margin-left: 40px;
}
#humidity {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
}
#wind {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
}
.weather-forecast {
  max-width: 670px;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0 auto;
  border: 4px solid #b5b3ab;
  border-radius: 10px;
  background: #e6e8e3;
}
#forecast-weekdays {
  margin-left: 50px;
  margin-bottom: 5px;
}
#forecast-icon {
  margin-left: 50px;
  margin-top: 8px;
  margin-bottom: -2px;
}
#forecast-temp {
  margin-left: 70px;
  margin-bottom: 15px;
  font-weight: 600;
}
a.code-by {
  font-size: 12px;
}